@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

$primary: #dcef14;
$secondary: #848484;
$thirsty: #FF4C29;
$theme-colors: (
    primary: $primary,
    secondary: $secondary,
);
// (Required) Import Bootstrap
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

@font-face {
    font-family: 'Cosmos';
    src: local('Cosmos'), url('../../fonts/AVCosmos-Regular.woff') format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

html {
    height: 100%;
}

body {
    background:#000;
    color:#fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image:url('../../img/bg.svg');
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
}

h2,h3 {
    color:$primary;
    text-transform:uppercase;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size:24px;
}

h3 {
    font-size:18px;
}

p {
    font-family: 'Oswald', sans-serif;
}

a {
    color: $primary;
} 

h1 {
    color: $primary;
    font-family: 'Cosmos';
    font-size: 10rem;
    background: linear-gradient(
            180deg,
            rgba(208, 224, 39, 0.2) -0.05%,
            rgba(220, 239, 20, 0.2) 47.89%,
            rgba(91, 97, 31, 0.2) 47.9%,
            rgba(233, 255, 0, 0.2) 100%
        ),
        #d0e027;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 14px rgba(208, 224, 39, 0.39));
    line-height: 110px;
    @media (max-width: 768px) {
        font-size: 7rem;
    }

    @media (max-width: 515px) {
        font-size: 5rem;
    }

    @media (max-width: 350px) {
        font-size: 4rem;
    }
}

.point {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 48px 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;  
    padding:15px;
    i {
        font-size: 62px;
        margin: 15px 0;
        color: #d0e123;
    }
    p {
        opacity:0.7;
    }
}

footer {
    a {
        color: #ffffff40;
        background: #0000008a;
        display: inline-block;
        width: 42px;
        height: 42px;
        line-height: 52px;
        border-radius: 100px;
        box-shadow: 0px 3px 14px #000;
        border: 1px solid #eeeeee1f;
        text-align: center;
        transition: all 200ms ease-in-out;
        text-decoration:none;
        i {
            font-size:24px;
        }
        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            color: $primary;
            border-color: $primary;
            svg path {
                color: $primary;
            }
        }
    }
}


@import 'buttons';